<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Status:</b>
  <%= @link.status %>
</p>

<p>
  <b>Keyword:</b>
  <%= @link.keyword.title %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
